<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>

    <link rel="stylesheet" href="style.css">
<style>

</style>
</head>
<body>
<div class="form-container">

    <form action="/staff" method="post">
        <h3>login now</h3>
        <input type="password" name="username" required placeholder="Enter username">
        <input type="password" name="password" required placeholder="Enter password">
        <input type="submit">
    </form>
</div>
</body>
